.product-graph {

    .graph-title {
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
    }

    .graph-dropdown {
      color: $gray;
      font-weight: $font-weight-light - 100;
      font-size: $font-size-base - 0.1;
    }

    .graph-label {
      width: 15px;
      height: 15px;
    }

    .view-box {
      background-color: $light-blue;
    }

    .sell-box {
      background-color: $orange;
    }

    .graph-legend {
      font-size: $font-size-base - 0.1;
      font-weight: $font-weight-semibold;
    }

    .y-axis, .x-axis {
      span {
        color: $gray;
        font-size: $font-size-base - 0.1;
        font-weight: $font-weight-semibold;
      }
    }
    
    .bar-chart {
      div {
        width: 10px;
        height: 140px;
      }

      .view-bar {
        background-color: $light-blue;
      }

      .sell-bar {
        background-color: $orange;
      }
    }

    // .x-axis {
    //   gap: 42px;
    // }
}