.table {
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-bottom: 0;

  th, td {
    &:nth-child(1) {
      width: 30px;
      max-width: 30px;
    }
    &:nth-child(2) {
      width: 50px;
      max-width: 50px;
    }
    &:nth-child(3) {
      width: 180px;
      max-width: 180px;
    }
    &:nth-child(4) {
      width: 90px;
      max-width: 90px;
    }
    &:nth-child(5) {
      width: 80px;
      max-width: 80px;
    }
    &:nth-child(6) {
      width: 80px;
      max-width: 80px;
    }
  }
  
  thead {
    th {
      padding: 0 0.75rem;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      border: none;
    }
  }

  tbody {
    tr {
      border: none;
      background-color: $light-gray;
      margin-bottom: 1rem;

      &:hover {
        background-color: $primary;
        transition: all 0.3s ease-in;
        td {
          // &:not(:nth-child(4)) {
          //   color: $gray;
          // }
          &:nth-child(4) {
            color: $white;
          }
        }
      }
    }

    td {
      vertical-align: middle;
      border: none;
      font-size: $font-size-base - 0.1;
      font-weight: $font-weight-semibold;
      &:nth-child(4) {
        color: $primary;
      }
    }
  }
}

.product-img {
  width: 50px;
  height: 60px;
}